{% extends "main/base.html" %}

{% load static %}

{% block content %}

<h2 class="mt-5 font-weight-bold text-center">About Us</h2>
<hr>
<p>Terramart was founded on August 2020, and has been providing quality wellness, food and clothing products to the public ever since. Headquarters located in Bayombong, Nueva Vizcaya, Philippines. We, at Terramart, want to be a part of your success by providing necessary and useful products.</p>
<p>We are committed to greatly serve our customers.</p>

<strong>VISION</strong>
<p>Be one of the most valuable e-commerce websites in Nueva Vizcaya Province, Philippines in December 2021.</p>
<strong>MISSION</strong>
<p>To help people succeed in their respective occupations.</p>
{% endblock %}


