{% extends "main/base.html" %}

{% load static %}

{% block content %}

<h2 class="mt-5 font-weight-bold text-center">Contact Us</h2>
<hr>
<p>You may reach us with the information below:</p>
<p>Email address: <a href="http://mail.google.com" target="_blank">terramart2020@gmail.com</a></p>
<p>Telephone No.: +63 (078) 392 1920</p>
<p>Mobile No.: +63 916 573 8504</p>

<p>Like us on <a href="https://www.facebook.com/terramartonline" target="_blank">Facebook</a></p>
<p>Follow us on <a href="https://twitter.com/terramartonline" target="_blank">Twitter</a></p>

{% endblock %}